//彈窗
.filter {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: $filter;
    align-items: center;
    justify-content: center;
    z-index: 999;

    &.display {
        display: flex;
    }

    .jumpWindow {
        display: none;
        width: 40%; //2023-02-18 修
        height: auto;
        background: $subBG_2;
        border: 1px solid $mainBorder_1;
        border-radius: 10px 10px 0 0;
        overflow: hidden;

        &.display {
            display: block;
        }

        //投注中請稍等 //2023-02-18 增
        &.plzWait {

            .content {
                display: flex;
                flex-direction: column;

                p {
                    color: $mainColor_1;
                    font-size: 0.975rem;
                    text-align: center;
                    margin: auto;
                }
            }
        }

        //投注狀態(成功/失敗) //2023-02-18 增
        &.betState {

            .content {
                display: flex;
                flex-direction: column;

                p {
                    color: $mainColor_1;
                    font-size: 0.975rem;
                    text-align: center;
                    margin: auto;
                }

                 .closeWindow {
                    width: 30%;  //2023-02-18 修
                    height: auto;
                    @include btnStyle_1;
                    padding: 10px 0;  //2023-02-18 修
                    margin: 0 auto 20px;  //2023-02-18 修
                }
            }
        }

        //撤銷投注
        &.cancelBet {

            .content {

                table {
                    width: 100%;
                    height: auto;

                    tr {
                        width: 100%;
                        height: auto;
                        border-bottom: 1px solid $mainBorder_2;

                        
                        &:nth-of-type(3) {

                            td {

                                &:last-child {

                                    p {
                                        color: $subColor_4;
                                        font-weight: bold;
                                    }
                                }
                            }
                                
                        }

                        &:nth-of-type(4) {

                            td {

                                &:last-child {

                                    p {
                                        
                                       span {
                                        line-height: 24px;  //2023-02-18 修
                                        text-align: center;

                                        &.vs {
                                            color: $subColor_1;
                                            font-size: 1rem;
                                            margin: 0 20px;  //2023-02-18 修
                                        }
                                   }
                                    }
                                }
                            }
                                
                        }

                        &:last-child {
                            border: none;

                            td {
                                padding: 0;
                            }
                        }


                        td {
                            max-width: 0;
                            height: auto;
                            vertical-align: middle;
                            padding: 16px 0;  //2023-02-18 修

                            &:first-child {
                                width: 35%;

                                p {
                                    color: $mainColor_2;
                                    font-weight: bold;
                                }
                            }


                            &:last-child {
                                width: 65%;  //2023-02-18 增

                                p {
                                    color: $mainColor_1;
                                }
                            }

                            p {
                                font-size: 0.975rem;
                                @include textHide;  //2023-02-18 增
                            }

                            button {
                                width: 60%;
                                height: auto;
                                @include btnStyle_1;
                                background: $subBG_3;
                                padding: 10px 0;
                                margin: 24px auto;
                            }
                        }
                    }
                }

                .closeWindow {
                    width: 60%;
                    height: auto;
                    @include btnStyle_1;
                    background: $subBG_7;
                    padding: 10px 0;
                    margin: 0 auto;
                }
            }
        }

        //投注結果-選擇球種 //2023-02-18 增
        &.chooseball {

            .content {
                max-height: 60vh; //2023-03-01+
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
                gap: 10px;
                padding: 20px;
                overflow-y: auto;  //2023-03-01+

                button {
                    width: auto;
                    height: auto;
                    @include btnStyle_1;
                    background: $subBG_7;
                    border-radius: 5px;
                    padding: 10px 0;
                }
            }

            .closeWindow {
                width: 30%; //2023-02-18 修
                height: auto;
                @include btnStyle_1;
                padding: 10px 0;
                margin: 0 auto 20px;
            }
        }

        //投注結果-選擇日期 //2023-02-18 增
        &.choosedate {

            .content {
                min-height: 0;
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
                gap: 10px;
                padding: 20px;

                button {
                    width: auto;
                    height: auto;
                    @include btnStyle_1;
                    background: $subBG_7;
                    border-radius: 5px;
                    padding: 10px 0;
                }
            }

            .closeWindow {
                width: 30%;
                height: auto;
                @include btnStyle_1;
                padding: 10px 0;
                margin: 0 auto 20px;
            }
        }

        .jwTitle {
            width: 100%;
            height: 50px; //2023-02-18 修
            background: $mainBG_1;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            padding: 20px;

            p {
                color: $mainColor_1;
                font-size: 1.2rem; //2023-02-18 修
                font-weight: bold;
            }

            i {
                color: $mainColor_1;
                font-size: 1.5rem; //2023-02-18 修
                position: absolute;
                right: 20px;
                cursor: pointer;
            }
        }

        .content {
            width: 100%;
            height: auto;
            min-height: 200px; //2023-02-18 修
            padding: 0 24px 24px; //2023-02-18 修
        }
    }
}